# Basic Pandas operations
This notebook will walk you through some basic operations with the Pandas Python library to explore a small dataset from wine regions around the world.

**Learning Objectives:**

1. Import Pandas using a common pattern
1. Read a CSV dataset from disk
1. Perform a quick overview of the dataset
1. Use plot to provide visual context

### Import Pandas 
And then read a local CSV dataset file

In [1]:
import pandas as pd
df = pd.read_csv("wine-regions.csv")
df.head(20)

,region,variety,rating
0,"Pessac-Leognan, Bordeaux, France",Red Wine,90.0
1,Spain,Sparkling & Champagne,88.0
2,"Santa Ynez Valley, Santa Barbara, Central Coas...",Red Wine,96.0
3,"Sta. Rita Hills, Santa Barbara, Central Coast,...",Red Wine,90.0
4,"Burgundy, France",White Wine,94.0
5,"Santa Lucia Highlands, Monterey, Central Coast...",Red Wine,90.0
6,Argentina,Red Wine,88.0
7,"Chianti Classico, Chianti, Tuscany, Italy",Red Wine,91.0
8,"Ribbon Ridge, Willamette Valley, Oregon",Red Wine,95.0
9,"Barolo, Piedmont, Italy",Red Wine,94.0
10,Portugal,White Wine,90.0
11,"Central Coast, California",Red Wine,92.0
12,"Central Coast, California",Red Wine,92.0
13,"Alsace, France",White Wine,91.0
14,"Willamette Valley, Oregon",White Wine,90.0
15,"Columbia Valley, Washington",Red Wine,90.0
16,"Napa Valley, California",Red Wine,94.0
17,"Barolo, Piedmont, Italy",Red Wine,92.0
18,"Rioja, Spain",Red Wine,91.0
19,"Eden Valley, Barossa, South Australia, Australia",White Wine,90.0

### Create a randomized subset of data
Use the `sample()` method to get `n` items from the dataset

In [ ]:
df.sample(n=20).head()

### Get more information about the dataset
Use `info()` and `describe()` methods for different aspects of the dataset

In [ ]:
df.describe()

In [ ]:
df.info()

### Use plotting for visual context
Use the `plot()` method which uses the `matplotlib` library behind the scenes to provide visual context on data

In [ ]:
df.plot()